@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <div style="text-align: center; font-size: 20px;">
        Welcome, My Teacher!!!
    </div>
    <div style="text-align: center; margin-top: 250px; font-size: 40px; color: #008080">
        Test Case Tracking System
    </div>
</div>
