@{
    ViewBag.Title = "Главная";
}

@Scripts.Render("~/bundles/charts")

<div class="row">
    <div class="col-lg-offset-1 col-lg-9 text-center">
        @Html.Action("TestersStatisticsChart", "Chart")
    </div>
</div>