@model TestCaseStorage.Models.Shared.EditDeleteSectionModel

<div class="col-lg-6 text-right" style="min-width: 40px;">
    @using (Html.BeginForm(Model.EditAction, Model.Controller, FormMethod.Get))
    {
        @Html.Hidden("id", Model.HiddenIdentifier)

        <input class="btn btn-default btn-md button-edit" type="submit" value="Редактировать" />
    }
</div>
<div class="col-lg-6 text-left" style="min-width: 40px;">
    @using (Html.BeginForm(Model.DeleteAction, Model.Controller, FormMethod.Post))
    {
        @Html.Hidden("id", Model.HiddenIdentifier)

        <input class="btn btn-default btn-md button-delete" type="submit" value="Удалить" data-delete-item-name="@Model.DeleteItemName" />
    }
</div>

